/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling Header Content */
header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aqua;
}

header h1{
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder ;
}

/* Styling Main Content */

.football-highlights{
    background-color: rgba(0, 0, 0, 0.801);
    color: aqua;
}

.content{
    padding: 5rem 20rem;
}

.league-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 2.5rem auto;
}

.other-league-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 2.5rem auto;
}

.watch-btn{
    color: aqua;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
}

.watch-btn:hover{
    background-color: rgba(57, 6, 240, 0.633);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 25px;
    padding: 1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
}

.card img{
    width: 70%;
    height: 50%;
    object-fit: contain;
    padding: 1rem;
    border-radius: 25px;
}

.other-leagues{
    margin-top: 2.5rem;
    padding: 1.3rem;
    text-decoration: none;
    list-style: none;
    color: aqua;
    font-family: 'Montserrat', sans-serif;
    border: .3px solid;
    border-radius: 30px;
}

.other-leagues:hover{
    background-color: rgb(10, 10, 10);
}

/* Styles for Footer Section */
.footer-content{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
footer .footer-content p{
    padding: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder ;
}

/* Styles for Swiper  */

.swiper-button-next, .swiper-button-prev{
	color: aqua;
	top: 50%;
	padding-right: 50px;
}

.swiper-pagination-bullet-active {
	background: rgb(66, 76, 217);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	padding-top: 2.5rem;
	position: relative;
}

.swiper-button-prev:after {
	font-weight: 700;
}

.swiper-button-next:after {
	font-weight: 700;
}

@media(max-width: 1200px){
    header h1{
        font-weight: 900;
    }
    .content{
        padding: 3rem 13rem;
    }
}

@media(max-width: 700px){
    header h1{
        font-weight: 600;
    }
    .content{
        padding: 2rem 4rem;
    }
}